/* здесь используйте глобальные селекторы img, body, html и так далее*/

body {
  max-width: 100%;
}

.button {
  width: 150px;
  font-size: small;
  background-color:#90adbf;
  color: #36393b;
  font-size: medium;
  border: 1px solid #5f8297;
  &:hover {
    background-color:#a4bac7;
  }

  @media (min-width: $mobile-size) and (max-width: $desktop-width) {
    width: 40%;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-size-only) {
    width: 200px;
  }
}

.shadow__true {
  position: absolute;
  width: 100%;
  height: 120%;
  z-index: 90;
  top:0; right:0; left:0;
  background: rgba(128, 128, 128,0.8)
}
