/* здесь используйте глобальные селекторы img, body, html и так далее*/

body {
  max-width: 100%;
}

.button {
  width: 150px;
  font-size: small;
  background-color:#81B3D2;
  color: #011201;
  border: 1px solid #5f8297;
}
