/* здесь используйте глобальные переменные */
$special_grey: #CDCDCD;


$mobile-size: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-size-only: 1199px;
$desktop-width: 1240px;

$margin-mobile: 20px;
$margin-tablet: 36px;
$margin-desktop: 110px;
