
.form {
  justify-content: space-around;
  align-items: center;
}

.form fieldset {
  display: flex;
  position: relative;

  justify-content: space-around;
  align-items: center;

  border: 2px solid #e4e8e4;
  background-color: #F5F1F1;
  border-radius: 10px;

  padding: 3px 6px;



}

.form legend {
  background-color:#c1defb;
  padding: 0 10px;
  font-size: large;
  color: #36393b;
}

.form input[type="number"],
.form input[type="time"]{
  padding: 0;
  flex-grow: 1;
  height: 20px;
  border: 2px solid #bfbcbc;
  border-radius: 3px;
  width: 80px;
  text-align: center;

  @media (min-width: $mobile-size) and (max-width: $desktop-width){
    margin-bottom: 10px;
  }
  @media (min-width: $mobile-size) and (max-width: $desktop-width) {
    margin-bottom: 0;
  }

  &:hover {
    border: 2px solid #626c78;
  }

  &:active,
  &:focus {
    border: 2px solid #D22856;
  }
}
